.photo-span{
    border-style: none;
    display: inline-block;
    width: 300px; 
    height: 225px;
    margin: 20px;
    transform: translate(0%, -10%);
}

.photo-span:hover{ 
    width: 350px; 
    height: 263px;
}


.image{
    width: 300px; 
    height: 225px; 
}


.photo-span .img-text{
    display: none; 
    position: absolute; 
    background: black;
    opacity: 0.4;
    bottom: 10px; 
    width: 300px;
    text-align: left;
}


.photo-span:hover .image{
    width: 350px; 
    height: 263px;
}


.photo-span:hover .img-text{
    display: block;
    position: absolute;
    padding-left:10px;
    background: black; 
    height: 25px;
    opacity: 0.8;
    width: 340px; 
    bottom: 10px;
    font-size: 13pt;
    text-align: left;
    color: white;
    font-weight: bold;
}
